<form method="post" action="/store" enctype="multipart/form-data">

    
    Nombre:
    <input type="text" name="txtName" id="txtName">
    <br>
    Apellido Paterno:
    <input type="text" name="txtFisurname" id="txtFisurname">
    <br>
    Apellido Materno:
    <input type="text" name="txtSesurname" id="txtSesurname">
    <br>
    Domicilio:
    <input type="text" name="txtAddress" id="txtAddress">
    <br>
    Número de casa :
    <input type="text" name="txtAddNum" id="txtAddNum">
    <br>
    Colonia :
    <input type="text" name="txtDistrict" id="txtDistrict">
    <br>
    Número de teléfono 1 :
    <input type="text" name="txtPhone1" id="txtPhone1">
    <br>
    Número de teléfono 2 :
    <input type="text" name="txtPhone2" id="txtPhone2">
    <br>
    <br>
    <input type="submit" value="Agregar">
    
</form>